body{
     
    font-family: "poppins",sans-serif;
    background-color: #041334 !important;
    color: #fff;
    font-size: 18px;
    line-height: 1;
}
main{

     color: #ffffff;
}
:root{

     --skyblue: #1bfafa;
     --skydark: #14f3f3cf;
}

.nav-link.active{
     
      color: #00ffff !important;
}
.text{ 
       color: #00ffff !important;
       padding: 15px;
     
}
.nav-link:link,
.nav-link:visited{
     
      color: #ffffff !important;
      font-size: 18px;
      font-weight: 500;
      margin-right: 24px;
     transition: all 0.3s linear;
}
.nav-link:hover,
.nav-link.active{
     
    color: #00ffff !important;
    
}
header{
     padding: 16px 0;
     box-shadow: 0px 4px 8px rgb(0, 0, 0,1);
       
}
.hero-section{
     
     height: 90vh;
     color: white;
}
.primary-heading{
     font-size: 64px;
     line-height: 1.3;
     letter-spacing: -1px;
     margin-bottom: 24px;
     color: #ffffff;
     font-weight: bold;
     
}
.hero-section p{
     
     font-size: 18px;
     margin-bottom: 48px;
}
.hero-input{
     
    padding: 8px 32px;
    background-color: transparent;
    border: 2px solid var(--skyblue);
    margin-right: 16px;
    box-shadow: 0px 4px 8px rgb(0,0,0, 0.3);
}
.hero-input:focus{
     
    box-shadow: 4px 8px 16px rgb(15, 178, 243);
     
}
.d-flex button{
     
    background-color: var(--skydark) !important;
    color: #041334 !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    padding: 10px 10px !important;
    transition: all 0.3s ease !important;
}
.btn-primary{

    background-color: var(--skydark) !important;
    transition: all 0.3s ease !important;
}
.btn-primary:hover{
     background-color: var(--skyblue) !important;
     color: #020c22 !important;
}
.bg-overlay{

      position: sticky;
      border: 1px solid red !important;
      width: 270px ;
      height: 250px;
      border-radius: 50%;
      background-color: var(--skyblue);
      margin-top: -70%;
      margin-left: 160px;
      margin-right: 160px;
      transform: translate(-50% -50%);
      z-index: -1;
      filter: blur(100px);
}
.img-fluid{

     /* transition: all 5s ease-in-out; */
     transform: scale(1);
     transition: transform 1.2s;
}
.img-fluid:hover{
     transform: scale(0.8);
    
}
.bg-darkblue{
     
    background-color: #040e29f1;
}
.secondary-heading{
     
     font-size: 48px;
     font-size: 64px;
    line-height: 1.3;
    letter-spacing: -1px;
    margin-bottom: 24px;
    color: #ffffff;
    font-weight: bold;
}
     
.mb-4{
     color: white;
     font-weight: 500;
     font-size: 22px;
    margin-bottom: 24px;

     /* line-height: 1.5rem; */

}
.mybtn{
     width: 40%;
     transform: scale(1);
     transition: transform 1.2s;
     /* transition: all 0.3s ease;  */

}
.mybtn:hover{

     transform: scale(1.1); 
}
.wallet-image{

     height: 48px;
     width: 48px;
}
.card{

       border-radius: 24px;
       transition: all 0.3s linear;
       cursor: pointer;
     box-shadow: 0px 4px 8px rgb(0,0,0, 0.3);

     
}

.card:hover{

     transform: translateY(-10px);
}

.check{

     height: 32px;
     width: 32px;
     margin-right: 16px;
     background-color: #0a9363;
     border-radius: 45%;
}
.check:hover{
}
ul,li{
     padding-left: 0 !important;
}